<footer class="mainFooter">
	<div class="mainFooter__wrapper"><a href="/login" class="mainFooter__lock large-only"></a>
		<div class="mainFooter__copyright">&copy; Здесь могла быть ваша реклама</div>
	</div>
</footer>