<header class="mainHeader">
	<nav class="mainHeader__nav">
		<div class="mainHeader__flex">
			<a href="/drivers">Водители</a>
			<a href="/path">Маршруты</a>
			<a href="/worktime">Графики работы</a>
			<a href="/bus">Автобусы</a>
			<a href="/repairs">Ремонты</a>
		</div>
	</nav>
</header>