<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" initial-scale="1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!--IE-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--fonts-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "worktime/Css/fira/fira.css" %}">

<!--styles-->
<link rel="stylesheet" type="text/css" href="{% static "worktime/Bower/normalize-css/normalize.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "worktime/Css/common.css" %}">